# function
snippet fun
	function ${1}(${2}) {
		${0}
	}
#
# anonymous function
snippet f
	function(${1}) {
		${0}
	}
#
# if
snippet if
	if (${1}) {
		${0}
	}
#
# console
snippet co
	console.log(${1})
