"*":
  welcome:
    showOnStartup: false
  minimap: {}
  autosave:
    enabled: true
  vim-mode:
    useSmartcaseForSearch: true
  editor:
    invisibles: {}
    showInvisibles: true
  tabs:
    usePreviewTabs: true
