"*":
  "atom-beautify":
    _analyticsUserId: "f68fd771-c8b6-40d3-bdc9-11ce2041866b"
  autosave:
    enabled: true
  blame: {}
  core:
    disabledPackages: [
      "highlight-line"
      "activate-power-mode"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
      "autosave"
    ]
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "7b11bae7-9b1d-c7e1-935a-23a9b12818ff"
  "git-blame": {}
  "git-diff": {}
  "highlight-line":
    hideHighlightOnSelect: true
  linter:
    gutterPosition: "Left"
    lintOnFly: false
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  minimap:
    plugins:
      "minimap-hide": true
  "one-light-ui": {}
  tabs:
    usePreviewTabs: true
  term2: {}
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
